@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700);
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans'; }

#top-banner {
  background-color: white;
  width: 100%;
  height: 35px;
  color: #2c3e50; }

#main-box {
  background-color: white;
  height: 300px;
  color: #2c3e50;
  border-radius: 15px;
  margin-top: 10%; }

.question-text {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-bottom: 12px;
  position: relative; }
