// Variables go here

$bodyColor: #2c3e50;

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700);


body, html {
  margin: 0;
  padding: 0;
  //background-color: $bodyColor;
  //color: $bodyColor;
  font-family: 'Noto Sans';

}

#top-banner {
  background-color: white;
  width: 100%;
  height: 35px;
  // color: $bodyColor;
}

#main-box {
  background-color: white;
  // width: 500px;
  // height: 300px;
  //color: $bodyColor;
  border-radius: 15px;
  // margin: 10% auto;
  margin-top: 10%;
}

.question-text {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  margin-bottom: 12px;
  position: relative;
}

.btn-primary {
  outline: none !important;
  font-size: 17px;
}

.btn-primary:hover {
  opacity: 0.75;
}

.list-group {
  font-size: 17px;
}
