<div class="question-text" ng-controller="questionCtrl">

  <h2>Q3 Page</h2>
  What do you care most about?<br />
  <button class="btn-primary" ui-sref="final" ng-click="$root.q3Answer = 'food'">Food</button> <!--You're the "eat" in "Eat, Pray, Love"-->
  <button class="btn-primary" ui-sref="final" ng-click="$root.q3Answer = 'history'">History</button> <!--All about how the culture came to be-->
  <button class="btn-primary" ui-sref="final" ng-click="$root.q3Answer = 'geography'">Geography</button> <!--Need cool landscapes? Mountain or ocean lover?-->

</div>
