<div class="question-text" ng-controller="questionCtrl">

  <h2>Q1 Page</h2>
  What general area of the world interests you the most?<br />
  <button class="btn-primary" ui-sref="q2" ng-click="$root.q1Answer = 'americas'">The Americas</button>
  <button class="btn-primary" ui-sref="q2" ng-click="$root.q1Answer = 'asia'">Asia</button>
  <button class="btn-primary" ui-sref="q2" ng-click="$root.q1Answer = 'africa'">Africa</button>
  <button class="btn-primary" ui-sref="q2" ng-click="$root.q1Answer = 'europe'">Western or Eastern Europe</button>

</div>
